---
import BaseLayout from "../layouts/BaseLayout.astro";

interface Publication {
  title: string;
  date: string;
  magazineTitle: string;

  linkMissingExplanation?: string;
  link?: string;
}

const publications: Publication[] = [
  {
    title: "What Daughters Do",
    date: "Some vauge time in 2022",
    magazineTitle: "Five South",
    linkMissingExplanation:
      "They are moving to a new website. It'll be up soon. If you want to read it, message me.",
  },
  {
    title: "Dance Music",
    date: "August, 2021",
    magazineTitle: "Rejection Letters",
    link: "https://rejection-letters.com/2021/08/17/dance-music-jason-sprinkle/",
  },
  {
    title: "Unlimited Options",
    date: "June, 2021",
    magazineTitle: "SmokeLong Quarterly",
    link: "https://www.smokelong.com/unlimited-options/",
  },
  {
    title: "Freedom to Move",
    date: "April, 2021",
    magazineTitle: "Free Flash Fiction",
    link: "https://freeflashfiction.com/fiction/freedom-to-move/",
  },
  {
    title: "It’s the Weekend and I Want to Be Overwhelmed Into Captivity",
    date: "October, 2020",
    magazineTitle: "Trash Magazine",
    linkMissingExplanation:
      "Seems defunct. Long live trash. If you want to read it, message me.",
  },
  {
    title: "Bella Eats an Extraterrestrial Pancake",
    date: "Fall, 2020",
    magazineTitle: "Moonpark Review",
    link: "https://moonparkreview.com/issue-thirteen-fall-2020/extraterrestrial-pancake/",
  },
  {
    title: "Contagion",
    date: "June, 2018",
    magazineTitle: "Five on the Fifth",
    link: "http://www.fiveonthefifth.com/vol-3-issue-8-story-5",
  },
];
---

<style>
  ul {
    padding-left: 0;
    list-style: inside;
  }

  li:not(:first-child) {
    margin-top: 0.75rem;
  }
</style>
<BaseLayout pageTitle="Writing" headingCopy="Writing">
  <p>
    I mostly write flash fiction. Here is a list of my current publications.
  </p>
  <ul>
    {
      publications.map((p) => {
        let title = p.title;
        if (p.link) {
          title = <a href={p.link}>{p.title}</a>;
        }
        return (
          <li>
            {title} — <em>{p.magazineTitle}</em>, {p.date}
            {p.linkMissingExplanation && (
              <p>
                <em>{p.linkMissingExplanation}</em>
              </p>
            )}
          </li>
        );
      })
    }
  </ul>
</BaseLayout>
